{% extends "base.html" %}
{% block content %}

<!-- end #header -->
<!-- end #header-wrapper -->
<!-- end #logo -->
<div id="page">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="content">
				<div class="post">
					<p class="meta"><span class="date">Sunday, August 26, 2023</span> 7:27 AM Posted by <a href="#">Krishna</a></p>
					<h2 class="title"><a href="#">Contact US</a></h2>
					<div class="entry">
						<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec   consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros.</p>
					</div>
					<div><a href="#" class="links">View Full Story</a></div>
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
</div>

{% endblock %}