{% extends "base.html" %}
{% block content %}

<!-- end #header -->
<!-- end #header-wrapper -->
<!-- end #logo -->
<div id="page">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="content">
				<div class="post">
					<p class="meta"><span class="date">Sunday, August 26, 2011</span> 7:27 AM Posted by <a href="#">Someone</a></p>
					<h2 class="title"><a href="#">Welcome to Coffee4u </a></h2>
					<div class="entry">
						<p>This is <strong>Black Coffee </strong>, a free, fully standards-compliant CSS template designed by <a href="https://www.linkedin.com/in/balkrishna-oli-77162416a/" rel="nofollow">Balkrishna</a>, released for free under the <a href="https://www.linkedin.com/in/balkrishna-oli-77162416a/">Creative Commons Attribution</a> license.  Photo used in this template is from <a href="https://www.linkedin.com/in/balkrishna-oli-77162416a/">PDPhoto.org</a>. You're free to use this template for anything as long as you credit us. Enjoy :)</p>
						<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. </p>
					</div>
					<div><a href="#" class="links">View Full Story</a></div>
				</div>
				<div class="post">
					<p class="meta"><span class="date">Sunday, August 26, 2022</span> 7:27 AM Posted by <a href="#">Alex</a></p>
					<h2 class="title"><a href="#">BUT SOME OF IT IS VERY GOOD</a></h2>
					<div class="entry">
						<p>But the lake. Until the bed There is no such thing as a low price. To drink. In no macro, element or, for the time being, not different, pure. Mauris vitae nisler nor consectetuer. Until then. It is an investment. The boat is always on the road . Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend now, ut consectetuer nisl felis ac diam. Not even a trigger. Unfortunately, as before. In that eros.</p>
					</div>
					<div><a href="#" class="links">View Full Story</a></div>
				</div>
				<div class="post">
					<p class="meta"><span class="date">Sunday, August 26, 2020</span> 7:27 AM Posted by <a href="#">D.J</a></p>
					<h2 class="title"><a href="#">BUT SOME OF IT IS VERY GOOD</a></h2>
					<div class="entry">
						<p>The players of Mauris vitae do not fear consectetuer. Until then. It is an investment. But the lake. Until the bed There is no such thing as a low price. To drink. In no macro, element or, for the time being, not different, pure. The players of Mauris vitae do not fear consectetuer. Until then. It is an investment. The boat is always on the road . Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend now, ut consectetuer nisl felis ac diam. </p>
					</div>
					<div><a href="#" class="links">View Full Story</a></div>
				</div>
			</div>
			<!-- end #content -->
			<div id="sidebar">
				<ul>
					<li>
						<h2>Aliquam tempus</h2>
						<div id="bg1">
							<div id="bg2">
								<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in consectetuer hendrerit, volutpat.</p>
							</div>
						</div>
					</li>
					<li>
						<h2>Pellenque ornare </h2>
						<div id="bg1">
							<div id="bg2">
								<ul>
									<li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Magna lacus bibendum mauris</a></li>
									<li><a href="#">Velit semper nisi molestie</a></li>
									<li><a href="#">Eget tempor eget nonummy</a></li>
									<li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Velit semper nisi molestie</a></li>
									<li><a href="#">Eget tempor eget nonummy</a></li>
									<li><a href="#">Nec metus sed donec</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<h2>Turpis nulla</h2>
						<div id="bg1">
							<div id="bg2">
								<ul>
									<li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Magna lacus bibendum mauris</a></li>
									<li><a href="#">Velit semper nisi molestie</a></li>
									<li><a href="#">Eget tempor eget nonummy</a></li>
									<li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Magna lacus bibendum mauris</a></li>
									<li><a href="#">Velit semper nisi molestie</a></li>
									<li><a href="#">Eget tempor eget nonummy</a></li>
									<li><a href="#">Nec metus sed donec</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- end #sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
	</div>
</div>

{% endblock %}